/* --- Kanit --- */
@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-Thin.woff2") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-ThinItalic.woff2") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-Italic.woff2") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-BoldItalic.woff2") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-Black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("fonts/Kanit-BlackItalic.woff2") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}